.match-fixture {
  display: flex;
  flex-flow: row wrap;
  /* border: 1px solid salmon; */
  padding: 16px;
}

.match-location {
  display: flex;
  flex-flow: row wrap;
}

.match-location > * {
  flex: 1 100%;
  text-align: center;
}

.match-time {
  display: flex;
  flex: 1 100%;
  justify-content: center;
}

.match-score {
  display: flex;
  justify-content: center;
  align-items: center;
}

.match-team {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid goldenrod; */

  /* font-size: 3.2rem; */
}

.score {
  display: flex;
  justify-content: center;
  /* width: 75px; */

  padding: 6px;

  border-radius: 6px;
}

.score > * {
  font-size: 2rem;
  font-weight: 600;
  padding: 2px;
}

.match-facts {
  display: flex;
  flex: 1 100%;
  flex-flow: row wrap;
  /* border: 1px solid goldenrod; */
}

.match-facts > * {
  /* border: 1px solid blueviolet; */
  display: flex;
  flex: 1 100%;
  padding: 8px;
}

.match-statistics {
  flex-direction: column;
}

.match-statistics > * {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;

  width: 100%;
}

.match-statistics > * > div {
  display: flex;
  flex: 1;
  margin-top: 8px;
}

.match-statistics > * > span {
  display: flex;
  flex: 1;

  justify-content: center;
  /* border: 1px solid goldenrod; */
}

.match-events > * {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;

  /* border: 1px solid blue; */
}

.event {
  /* border: 1px solid red; */
  display: flex;
  flex-flow: row wrap;

  align-items: center;
}

.event > * {
  padding: 2px;
}

.event-align-right {
  justify-content: flex-end;
  align-items: flex-start;
}

.team-name {
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1900 - 300)));
}

@media (min-width: 0px) and (min-width: 768px) {
}

/*
@media (min-width: 769px) and (min-width: 1023px) {
  .team-name {
    font-size: 1.4rem;
  }
}

@media (min-width: 1024px) and (min-width: 1215px) {
  .team-name {
    font-size: 1.6rem;
  }
}

@media (min-width: 1216px) and (min-width: 1407px) {
  .team-name {
    font-size: 1.8rem;
  }
}

@media (min-width: 1408px) {
  .team-name {
    font-size: 2rem;
  }
} */
