.match-facts {
  display: flex;
  flex: 1 100%;
  flex-flow: row wrap;
  /* border: 1px solid goldenrod; */
}

.match-facts > * {
  /* border: 1px solid blueviolet; */
  display: flex;
  flex: 1 100%;
  padding: 8px;
}
