.match-team {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid goldenrod; */

  /* font-size: 3.2rem; */
}

.team-name {
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1900 - 300)));
}
